<%- include('./partials/header')%> 

<div class="container w-50 m-auto">
        <ol>
        <li class="post">
        <h2 class="d-inline-flex p-2 "><p ><%= post.name%> &nbsp;&nbsp; </p>  |&nbsp;&nbsp;  <p>   <%= post.desc%></p></h2>
        <h2>
            <img
               
                width="300"
               ` src="../uploads/<%= post.img%>"`
                alt="imgggggggg"
            />      
        </h2>
        <div id="comm">
            <% comments.forEach(function(c){ %>
              
                      <% if (c.postId== post.id) { %>
                  
                      <p class="d-flex p-2 "><span ><%= c.name%> &nbsp;&nbsp; </span>  |&nbsp;&nbsp;  <span>   <%= c.desc%></span>  <a class="  btn-sm w-25" href="/delete/comm/<%= c.id%>">delete</a></p>
                      <% }%> 
                      
                  
                  <%})%>
          
          
              </div>
        <div class="w-50"> 
        <form class="form-control" action='/comments/<%= post.id%>' method="POST">
            <input  name="desc" class="form-control" type="text" placeholder="enter your description" autofocus>
            <button class="btn btn-primary my-3">comment</button>
            </form>
        </div>
   </li>
        </ol>    
</div>


<%- include('./partials/footer')%>